# Porty
CLASS_SERVICE_PORT=
POSTGRES_PORT=

# Dane dostepu do Postgresa
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# Dane notification service
RABBIT_HOST=
RABBIT_USER=
RABBIT_PASSWORD=

RABBIT_EXCHANGE=notification
RABBIT_QUEUE=class-invitations
RABBIT_ROUTING_KEY=class.invitation.*
